/* GENERAL */

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    scroll-behavior: smooth;
}


/* HEADER */
.header{
    background-color: black;
    color: white;
    min-height: 50px;
    display: flex;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header .logo, 
.header a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.header .menu a:hover{
    border-bottom: 2px solid white;
    transition: border-color 0.5s ease-in-out;
}
.header .menu a:selected{
    color: red;
}
.header .menu ul,
.header .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    list-style: none;
    margin-top: 10px;
}
/* HEADER ./*/

/* SLIDER */
.slider{
   background-color: black;

}
.slider .carousel-position{
    position: absolute;
    right: 15%;
    top: 40%;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: -webkit-xxx-large;
    background-color: #0000002e;
    border-right: 8px solid #543010;
    border-left: 8px solid #543010;
}
.slider .carousel-position span{
    color: #543010;
    text-shadow: 2px 2px white;
}
.slider #carouselExampleIndicators 
li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}


/* ABOUT US */
.about_us{
    background-color: #fdfbd5;
    text-align: center;
    min-height: 100vh;
}
.about_us .container .row{
    justify-content: center;
    padding-bottom: 30px;
}
.about_us .btn{
    border: solid;
    border-width: 2px 0px;
    border-radius: 0px;
    border-color: #543010;
    padding: 2px 25px;
    margin-top: 50px;
}
.about_us p,
.specials p{
    font-family: sans-serif;
}
button:focus{
    outline: 0;
    box-shadow: 0;
}
.about_us .container .col-lg-3{
    margin: auto;
}
/* ABOUT US ./*/



/* SPECIALS */
.specials{
    background-color: #543010;
    text-align: center;
}
.specials img{
    width: 100%;
}
.specials .row{
    justify-content: center;
    margin: 0px;
}
.specials h3{
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px 50px;
}
.specials .space{
    color: white;
    padding: 20px 50px;
    margin-bottom: 50px;
}
.specials ul{
    margin-bottom: 40px;
    margin-top: 40px;
}
.specials ul li{
    width: 300px;
}
.specials .nav-tabs{
    border: none;
}

.specials .container .space2{
    justify-content: space-between;
    margin-bottom: 25px;
}
.specials .container .space2 p{
    padding: 20px;
    color: white;
    font-size: 16px;
}
.specials h1{
    margin-top: 30px;
    width: 70%;
    color: white;
    border-bottom: 2px solid;
    margin: auto;
    margin-top: 40px;
}
.specials ul li{
    border: 1px solid white;
}
.specials ul li a{
    padding: 0px;
    margin-right: 0px;
}
.specials ul li a:hover{
    background-color: #eeeeee5c;
}
.specials a{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* SPECIALS ./*/


/* BOOKING */
.booking{
    background-color: #fdfbd5;
    min-height: 90vh;
}
.booking .pic{
    background-image: url(../img/fancy-meal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 300px;
    position: relative;
    padding: 0;
}
.booking .pic1{
   background-image: url(../img/fancy-meal.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.booking .pic2{
   background-image: url(../img/fancy-meal1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.booking .pic3{
   background-image: url(../img/fancy-meal3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.booking .pic4{
   background-image: url(../img/fancy-meal4.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.booking .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #02020247;
    transition: 0.5s;
}
.booking .overlay:hover{
    background-color: #80808000;
    transition: 0.5s;
}
.booking .overlay:hover .text{
    transform: scale(1.3);
    transition: 0.5s;
}
.booking .overlay .text{
    position: absolute;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-top: 40%;
    transition: 0.5s;
}
.booking h1{
    text-align: center;
    border-bottom: 2px solid;
    color: #1f1e1d;
}
.booking .row{
    justify-content: center;
    padding: 30px 0px;
}
/* BOOKING ./*/


/* STATISTICS */
.statistics{
    background-image: url(../img/restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-position: center;
}
.statistics i,
.statistics p{
    color: white;
    font-size: 40px;
    background-image: radial-gradient(black, transparent);
}
/* STATISTICS ./*/



/* CUSTOMER VIEW */
.customer-view{
    width: 100%;
    background-color: #fdfbd5;
}
.customer-view h2{
    margin: 30px;
    font-size: 50px;

}
.customer-view .img_holder{
    width: 120px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
.customer-view .img_holder img{
    margin-right: auto;
    margin-left: auto;
}
.customer-view .carousel-inner{
    position: relative;
    width: 40%;
    margin: auto;
    overflow: hidden;
}
.customer-view .container .row{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.customer-view .container a.left.carousel-control{
    border-left: 10px solid #543010;
    opacity: 1; 
}
.customer-view .container a.right.carousel-control{
    border-right: 10px solid #543010;
    opacity: 1; 
}
.customer-view #dots{
    position: relative;
}
.customer-view .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 10px;
    background-color: #808080;
}
.customer-view .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgba(140, 64, 64, 0.64);
    border: 2px solid;  
}
.customer-view .dots{
    min-height: 50px;
}
.customer-view .dots ol.carousel-indicators {
    position: absolute;
    bottom: -50px;
}
/* CUSTOMER VIEW ./*/


/* FOOTER */
.footer{
    background-color: #543010;
    min-height: 200px;
    color: white;
}
.footer h1{
    transition: 1s;
}
.footer h3{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.footer .info_items i{
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    margin-right: 5px;
}
.footer i span{
    margin-left: 10px;
}
.footer .review{
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
    height: 100%;
}
.footer .review h1{
    font-size: 36px;
    margin-top: 0px;
    padding-top: 30px;
}
.footer .order2 h1:hover{
    cursor: pointer;
    color: #fdfbd5;
    transition: 1s;
}
.footer .folow .col-lg-12{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.footer a{
    color: white;
}
/* FOOTER ./*/


/* MEDIA QUERY */

@media screen and (min-width: 0px) and (max-width: 992px) {
    /* carousel indicator position corrected */
    .carousel-indicators {
        bottom: -50px;
        }
    /* dots overlaping about section  */
    .slider{
        margin-bottom: 20px;
    }
    .specials ul{
        justify-content: center;
    }
    .footer .info_items{
        text-align: center;
        margin: 50px;
    }
    .footer .review h1{
        padding: 0px;
    }
    /* read more btn in about section  */
    .about_us .btn{
        margin-bottom: 50px;
    }
    /* images in booking section bottom margin
     increased */
    .pic{
        margin-bottom: 20px;
    }

    /* order of sections in footer modified,
    write us moved above map,
    map positioned in bottom */
    .footer .order1{
        order: 1;
    }
    .footer .order2{
        order: 2;
    }
    .footer .order4{
        order: 4;
    }
}
